<section class="hero is-warning is-bold is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="headin">how to get or hack</p>
      <p class="title">Infinite Money</p>
      <div class="container has-text-left">
        <p class="title">Step one:</p>
        <p class="subtitle">Open a brand new Revolut bank account. </p>
        <p class="title">Step two:</p>
        <p class="subtitle">Order a card with the pincode 5192.</p>
        <p class="title">Step three:</p>
        <p class="subtitle">Go to a shop once you have this card and try to pay € 3.21 with a balance of € 0 and without ever depositing any kind of money to this account</p>
        <p class="title">Step four:</p>
        <p class="subtitle">Endure your "i can not read your card error" three times</p>
        <p class="title">Step five:</p>
        <p class="subtitle">Enjoy your infinite or share it with as much as possible because i have the solution</p>
        <a href="https://proofofdivision.com" class="title">proofofdivision.com</a>
        <br>
        <p class="subtitle">some other links:</p>
        <a href="https://youtu.be/L2_iKtvPFbs" class="subtitle">how to hack everyones bitcoins balance to zero, while you could also send -5 BTC to obtain 5 BTC</a>
        <br>
        <a href="https://youtu.be/8rd8Msk60NQ" class="subtitle">the story behind infinite money</a>
      </div>
    </div>
  </div>
</section>
